  #background {
    background-image: url(images/background.jpg);
	background-size: 100%;
	}
	
  #title {
	text-align: center;
	background-color: black;
	font-family: 'Titan One', cursive;
	font-size: 60px;
	color: #FFF8DC;
	margin-top: 0;
  }
  
  #table {
	  
	  height: 500px;
	  resize: both;
	  overflow: auto;
	  margin: 0 auto 0 auto;
	  text-align: center;
	  border-collapse: collapse;
	  border: 5px solid #FFF8DC;
  }
  
  #table th {
	  border: 3px solid white;
	  border-collapse: collapse;
	  text-align: center;
	  padding: 5px;
	  color: #FFF8DC;
  }
	  
  #table td {
	  border: 3px solid white;
	  border-collapse: collapse;
	  text-align: center;
	  color: #FFF8DC;
  }
  